body {
    font-family: "Merriweather Sans", Verdana, "Geneva", Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(30, 69%, 67%);
    color: hsl(25, 34%, 33%);
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 2px;
    border: none;
    padding: 0;
}


.recipe-ctn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: hsl(0, 0%, 96%);
    width: 500px;
    margin: 16px auto 0px;
    border: 4px solid hsl(19, 29%, 28%);
}

span {
    font-size: .85rem;
    margin: 12px auto;
}

span.middle {
    margin: 2px auto;
}

a:link {
    color: hsl(19, 29%, 28%);
    text-decoration: none;
}

a:visited {
    color: hsl(29, 57%, 46%);
}

a:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    border: 6px solid hsl(34, 57%, 70%)
}

a:active {
    color: hsl(25, 34%, 33%);
    background-color: whitesmoke;
}

.img-ctn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 89%;
    height: auto;
    margin: 8px auto 0;
    padding: 2px;
    
}

.index-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid hsl(19, 29%, 28%);
}


.middle-img {
    margin: 0 8px;
}
